.main {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: black;
}

.middle {
    padding-top: 1.3em;
    height: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bottom {
    height: 35%;
    background: #1C1E21;
    overflow-y: auto;
    border: 1px solid black;
    border-top: none

}

.head-middle, .head-bottom {
    background-color: #3b4046;
    border: 1px solid black;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
    padding-top: 0.2em;
    padding-left: 0.75em;
    height: 1.9em;
}

.head-middle {
    border-top: none;
    position: fixed;
    width: 100%;
}

.head-bottom {
    position: fixed;
    width: 99.9%;
    border-right: 1px solid black;
}

.middle-main {
    margin-top: 1.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.track-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #1C1E21;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
}

.audio-piste {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #303033;
    border-right: 1px solid black;
}

.plugin-grid {
    padding-top: 2em;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.timer {
    font-weight: bold;
    font-size: 2em;
    color: #4d5ed1;
}

a.item.menu {
    background-color: #4d5ed1 !important;
}

a.item.menu:hover {
    background-color: #4d5ed1 !important;
}

a.item.volume-slider {
    width: 10em; height: auto;
}

i.icon {
    margin: 0 !important;
}

div.ui.inverted.fixed.menu {
    max-height: 1.5em;
    background-color: #31353A;
    font-family: monospace;
    border-radius: unset;
    margin: 0;
    border: 1px solid black !important;
}

/* Track Element */
.track-element {
    border: 1px solid black;
    height: 8em;
    background-color: #31353A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.track-element-color {
    flex-grow: 1;
    background-color: greenyellow;
}

.track-element-tools {
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.track-name {
    padding: 0.5em 0.5em 0.5em 1em;
    flex-grow: 1;
}

.ui.inverted.grey.slider.track {
    width: 100%;
    padding: 0 1em;
    justify-content: space-around;
    flex-grow: 1;
}

.track-element-tools-tool {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow: 6;
    align-items: center;
    justify-content: space-around;
}

.item.tool {
    color: grey;
}

.item.tool:hover {
    color: white;
}

.add-track, .add-plugin {
    margin: 1em;
    height: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.add-track:hover, .add-plugin:hover {
    background-color: #151718;
}

.add-plugin {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
}
